* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/050/781/original/assure_google.jpg?1667143944");
  background-repeat: center;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 0px;
}
.container {
  margin-top: 250px;
  width: 800px;
  width: 100%;
}
.regform {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  color: black;
  padding: 40px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}
.main {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
}
form {
  padding: 40px;
}
#name {
  width: 100%;
  height: 100px;
}
.name {
  margin-left: 25px;
  margin-top: 30px;
  width: 125px;
  color: black;
  font-size: 22px;
  font-weight: 700;
}
.firstname {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 18px;
}
.lastname {
  position: relative;
  left: 417px;
  top: -80px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 18px;
}

.firstlabel {
  position: relative;
  color: gray;
  text-transform: capitalize;
  left: 203px;
  top: -40px;
  font-size: 14px;
}
.lastlabel {
  position: relative;
  color: gray;
  text-transform: capitalize;
  left: 500px;
  top: -75px;
  font-size: 14px;
}
.age {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 18px;
  color: black;
}
.gender {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 18px;
  color: black;
}
.email {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 18px;
  color: black;
}

.option {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 18px;
  color: black;
  outline: none;
  overflow: hidden;
}
.option option {
  font-size: 18px;
}

form .button {
  text-align: center;
}
form .button input {
  background-color: #008cba;
  padding: 10px 0;
  margin-top: 10px;
  height: 100%;
  width: 35%;
  border-radius: 10px;
  border: 2px solid #ffff;
  outline: none;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: 18px;
}
form .button input:hover {
  background-color: aliceblue;
  color: black;
  border: 2px solid black;
}
.menu_bar {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.logo {
  color: #ffffff;
  font-size: 35px;
}
.menu_bar ul {
  list-style: none;
  display: flex;
}
.menu_bar ul li {
  padding: 10px 30px;
  position: relative;
}
.menu_bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s;
}

.menu_bar ul li a:hover {
  color: blue;
}
.dropdown_menu {
  display: none;
}

.menu_bar ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
}
.menu_bar ul li:hover .dropdown_menu ul {
  display: block;
  margin: 10px;
}
.menu_bar ul li:hover .dropdown_menu ul li {
  width: 150px;
  padding: 10px;
}
